Package: com.shinvou.NoRotationLockItem
Name: NoRotationLockItem
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: Timm Kandziora
Author: Timm Kandziora
Section: Tweaks
Version: 1.0-1
Installed-Size: 88
